.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 240px;
    border-right: 1px solid #e5e7eb;
    justify-content: space-between;
    position: fixed;
}

.header {
    display: flex;
    align-items: center;
    padding: 16px 18px;
    gap: 8px
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #406dc7;
}

.logoText {
    font-size: 20px;
    font-weight: 600;
}

.menuList {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 4px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
}

.menuItem:hover {
    background-color: #7999da;
}

.menuItemActive {
    background-color: #406dc7;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 16px 14px;
    gap: 12px;
    border-top: 1px solid #e5e7eb;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 8px;
}

.profile {
    background-color: #edc3f8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}

.userInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.userName {
    font-size: 0.875rem;
}

.userRole {
    font-size: 0.75rem;
    color: #9ca3af;
}

.logoutBtn {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #000;
    border: none;
    padding: 10px 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.logoutBtn:hover {
    background-color: #616161;
}